.App {
  margin: 0 auto;
  width: 960px;
  padding: 20px;
}

.file {
  padding: 10px;
}

.header {
  margin: 0 auto;
  font-size: 32px;
}

.result{
  margin-top: 20px;
}


.editor {
  border: 1px solid black;
}

.fileUpload {
  border: 1px solid black;
}
